{% extends 'gymburgdorf/23h/base.html' %}

{% block backurl %}{% url 'gymburgdorf:home' %}{% endblock backurl %}

{% block title %}Startseite{% endblock title %}

{% block heading %}
    <h1>23h Klassentools</h1>
    <p>Du bist eingeloggt als <strong>{{ user.username }}</strong>. <a class="text-white" href="{% url 'gymburgdorf:logout' %}">Ausloggen</a></p>
{% endblock heading %}
            
{% block content %} 
    <h2 class="mb-3">Seiten</h2>
    
    <a href="{% url 'gymburgdorf:23h-maturabooks' %}" class="btn btn-primary">Maturabücher</a>
    <a href="{% url 'gymburgdorf:23h-muluscollection' %}" class="btn btn-primary">MULUS-Sammlung</a>
{% endblock content %}
