{% extends "gymburgdorf/pages/base.html" %}

{% block body %}
    <div class="panel-container one-column" style="max-height: 150vh;">
        <div class="panel">
            <div>
                <h3>{% block fallback-title %}Eingebettete Seite{% endblock %}</h3>

                <p>Falls unten nichts erscheint, unterstützt dein Browser möglicherweise keine Eingebetteten Seiten oder die Seite hat auf eine andere Seite weitergeleitet, welche nicht eingebettet werden darf (wie z.B. Login-Seiten etc.).</p>
                {% block fallback-infos %}{% endblock %}
            </div>
        </div>
        <div class="panel" style="height: {% block frameheight2 %}735px{% endblock %};" nomasonry>
            <div style="height: {% block frameheight1 %}735px{% endblock %}; width: 100%;">
                <iframe id="embed" name="embed" src="{% block url %}{% endblock %}" width="100%" height="100%" seamless="seamless" style="border: none; border-radius: 3px;">
                    Dies solltest du nicht sehen... Bitte benutze einen Browser, welcher iframes unterstützt!
                </iframe>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        function showIframe() {
            document.getElementById("embed").style.display = "block";
            document.getElementById("iframehiddenmessage").style.display = "none";
        }

        function hideIframe() {
            document.getElementById("embed").style.display = "none";
            document.getElementById("iframehiddenmessage").style.display = "block";
        }

        function reloadIframe() {
            showIframe();
            iframe = document.getElementById("embed");
            src = iframe.src;
            iframe.src = "";
            iframe.src = src;
        }
    </script>
{% endblock %}