<div id="head">
    <noscript>
        <style>
            .panel {
                display: none;
            }
            noscript.panel {
                display: block;
            }
        </style>
    </noscript>
    <style>
        .no-underline a {
            text-decoration: none;
        }

        * {
            -webkit-overflow-scrolling: auto;
        }
    </style>
    {% block extrahead %}{% endblock %}
</div>

<div id="body">
    {% block body %}{% endblock %}
</div>

<div id="scripts">
    {% if alert %}
        <script>
            top.toast({
                {% for k, v in alert.items %}
                    {{ k }}: "{{ v }}",
                {% endfor %}
            });
        </script>
    {% endif %}

    {% block scripts %}{% endblock %}
</div>