{% extends 'gymburgdorf/pages/base.html' %}

{% load static %}

{% block extrahead %}

    <style>
        .no-underline a {
            text-decoration: none;
        }

        #grades-table-master {
            width: 100%;
        }
    </style>

{% endblock %}

{% block body %}
    <div class="panel-container one-column">
        <div class="panel no-underline">
            <div>
                <h3>Noten</h3>
                <p>
                    Du bist hier: <span id="grades-nav-breadcrumbs"></span>
                </p>
                <p>
                    <span id="grades-nav-info">Laden...</span>
                </p>
                <br>
                <p>
                    <a id="grades-nav-back" href="#noten" style="display: none;">
                        <i class="fas fa-arrow-left"></i>&nbsp;
                        Nach oben -
                    </a><a id="grades-nav-reload" href="#noten" onclick="grades_reRender();">
                        <i class="fas fa-sync-alt"></i>&nbsp;
                        Neu laden
                    </a>
                </p>
            </div>
        </div>
        <div class="panel">
            <div>
                <h3 id="grades-title">Wird geladen...</h3>
                <br>
                <table id="grades-table-master">
                    <tbody id="grades-table">
                        
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        api_grades_base_url = "{{ request.scheme }}://{{ request.META.HTTP_HOST }}{% url 'gymburgdorf:api-grades-manager' %}";
    </script>
    <script src="{% static 'gymburgdorf/js/noten.js' %}"></script>
    <script>
        setTimeout(grades_reRender, 20);
    </script>
{% endblock %}