{% extends 'gymburgdorf/pages/base.html' %}

{% load static %}

{% block extrahead %}
    <style>
        .objects-table {
            width: 100%;
            margin: 20px 0;
            font-family: Arial, Helvetica, sans-serif;
            border-collapse: collapse;
        }

        .objects-table td,
        .objects-table th {
            border: 1px solid #ddd;
            padding: 8px;
            font-size: 0.8rem;
            word-break: initial;
        }

        .objects-table th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: #4CAF50;
            color: white;
        }

        .objects-table tbody tr:hover,
        .objects-table tbody tr:target,
        .objects-table tbody tr:active {
            background-color: #404040;
        }

        @media screen and (max-width: 820px) {
            .objects-table th:nth-child(3),
            .objects-table td:nth-child(3),
            .objects-table th:nth-child(4),
            .objects-table td:nth-child(4) {
                display: none;
            }
        }
    </style>
{% endblock %}

{% block body %}
    <div class="panel-container one-column">
        <div class="panel no-underline">
            <div>
                <h3>Benutzerinhalt</h3>
                <p>
                    Hier findest du Sprüche, Zitate, Insider etc. rund um das Leben am Gymnasium Burgdorf sowie Geschenkideen für Lehrer am Gymnasium Burgdorf. Du kannst auch gerne selber welche
                    vorschlagen. Um Spam zu vermeiden, müssen neue Inhalte zuerst von einem Admin bestätigt werden.
                </p>
                <br>
                <p>
                    <a href="#usercontent" onclick="loadUserContent();">
                        <i class="fas fa-sync-alt"></i>&nbsp;
                        Neu laden
                    </a>
                </p>
            </div>
        </div>
        {% if perms.gymburgdorf.publish_usercontent %}
        <div class="panel no-underline">
            <div>
                <h3>Warteschlaufe (nur für Admins sichtbar)</h3>
                <table class="objects-table preservelines">
                    <thead>
                        <tr>
                            <th>Titel</th>
                            <th>Person(en)</th>
                            <th>Beschreibung</th>
                            <th>Eingereicht von</th>
                        </tr>
                    </thead>
                    <tbody id="verifyqueue">
        
                    </tbody>
                </table>
            </div>
        </div>
        {% endif %}
        <div class="panel no-underline">
            <div>
                <h3>Zitate</h3>
                <table class="objects-table preservelines">
                    <thead>
                        <tr>
                            <th>Titel</th>
                            <th>Person(en)</th>
                            <th>Beschreibung</th>
                            <th>Eingereicht von</th>
                        </tr>
                    </thead>
                    <tbody id="quotes">

                    </tbody>
                </table>
            </div>
        </div>
        <div class="panel no-underline">
            <div>
                <h3>Geschenkideen</h3>
                <table class="objects-table preservelines">
                    <thead>
                        <tr>
                            <th>Titel</th>
                            <th>Person(en)</th>
                            <th>Beschreibung</th>
                            <th>Eingereicht von</th>
                        </tr>
                    </thead>
                    <tbody id="giftideas">
        
                    </tbody>
                </table>
            </div>
        </div>
        <div class="panel no-underline">
            <div>
                <h3>Meine Einreichungen</h3>
                <p>
                    Du bist eingeloggt als {{ request.user.username }}
                </p>
                <table class="objects-table preservelines">
                    <thead>
                        <tr>
                            <th>Titel</th>
                            <th>Person(en)</th>
                            <th>Kategorie</th>
                            <th style="width: 0;"></th>
                        </tr>
                    </thead>
                    <tbody id="myobjects">

                    </tbody>
                </table>
                <p>
                    <button onclick="suggestUserContent();">Inhalt vorschlagen</button>
                </p>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ usercontentcategories|json_script:"usercontentcategories" }}
    <script>
        api_usercontent_base_url = "{{ request.scheme }}://{{ request.META.HTTP_HOST }}{% url 'gymburgdorf:api-usercontent-list' %}";
        usercontentcategories = JSON.parse(document.getElementById('usercontentcategories').textContent);
    </script>
    <script src="{% static 'gymburgdorf/js/usercontent.js' %}"></script>
    <script>
        setTimeout(loadUserContent, 20);
    </script>
{% endblock %}